@import url(global.css);

nav {
  display:flex;
  /* border: solid black; */
  justify-content: space-between;
  align-items: center;

  /*tira os espaços*/
  line-height: 0;
  /*coloca um pading no nav*/
  padding-block: 20px;
}

nav ul {
 list-style: none;
 display: flex;
 align-items: center;
 /*espaço entre elementos*/
 gap:24px;
 
 padding-block: 8px;
}

nav ul li:last-child img {
  /*Se você colocar o tamanho em porcentagem, lembre que 
 isso pode afetar no espaçamento já que ele vai pegar uma porcentagem do tamanho principal*/
   width: 40px;
  height: 40px;
}

/*Começando a biografia*/
header{
  padding-block: 32px;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#info{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 280px;
}

#info li{
  display: flex;
  align-items: center;
  gap: 8px;
  
}

#profile{
  display: flex;
  gap: 10px;
  align-items: center;
}

#profile div:last-child{
  max-width: 384px;
  /* border: solid; */
  margin-left: 30px;
}

#profile footer{
  font-size: 10px;
  max-width: 200px;
  text-align: center;
  /* border: solid; */
}

#grande{
  width: 200px;
  height: 200px;
}


#profile h1{
  font: var(--text-lg) ;
  color: var(--text-prim);
  margin-bottom: 8px;
}

#profile p{
 font: var(--text-md);
}